<div class="container">
    <p>Here goes the persons list...</p>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Name</th>
            <th>Hobbies</th>
            <th>Action</th>
        </tr>
        <% persons.forEach(function(item) { %>

            <tr>
                <td>
                    <%= item.firstname + ' ' + item.lastname  %>
                </td>
                <td>
                    <%= item.hobbies %>
                </td>
                <td>
                <a href="persons/edit"><label class="label label-primary">Edit</label></a> 
                <a href=""><label class="label label-danger btnDelete">Delete</label></a>
                </td>
            </tr>

            <%  }); %>

    </table>
    <!-- row -->
    <button id="btnAddPerson" class="btn btn-success">Add Person</button>
    
</div>
<script>
$(document).ready(function(){
	$('#btnDelete').click(function(){
	alert("You are about to delete a record");
});
});
</script> 

