<div class="container">
    <h2>
        <%= pageTitle %>
    </h2>
    <p>Site title is
        <%= siteTitle %>
    </p>
    <p>Page title is
        <%= pageTitle %>
    </p>
    <p>Page id is
        <%= pageId %>
    </p>
</div>
